@model Formula1_new.Models.TeamDTO
@{
    ViewBag.Title = "Edit";
}

<h2>Edit a Team</h2>
<form action="/Team/Update/@Model.TeamId" method="POST">
    <div style="display:none;">
        @* Pass through the Team Id *@
        <input type="text" name="TeamId" value="@Model.TeamId" />
    </div>
    <div>
        <label>Team Name:</label> <input type="text" name="TeamName" value="@Model.TeamName" />
    </div>
    <div>
        <label>Team Points:</label> <input type="text" name="TeamPoints" value="@Model.TeamPoints" />
    </div>
    <div>
        <label>Engine Supplier:</label> <input type="text" name="EngineSupplier" value="@Model.EngineSupplier" />
    </div>
    <div>
        <label>Driver Id:</label> <input type="text" name="DriverId" value="@Model.DriverId" />
    </div>


    <div>
        <input type="submit" value="Update Team" />

    </div>
</form>
