<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | F1 Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <img src="https://www.f1manager.com/_nuxt/img/f1m2024-logo-horizontal-micro.46ac467.svg" alt="f1 manager logo" width="250px" height="50px">
            @Html.ActionLink(".", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Drivers", "List", "Driver", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Teams", "List", "Team", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Race Tracks", "List", "Racetrack", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!--
    <div class="sections-container">
        <div class="driver">
            <h2>Driver Data</h2>
            <img src="https://github.com/jerryborgesjacob/HTTP5122/blob/main/f1-drivers.png?raw=true" alt="f1-drivers-image" width="300px" height="200px" />
        </div>
        <div class="team">
            <h2>Team Data</h2>
            <img src="https://mrwallpaper.com/images/hd/ferrari-f1-sf15-t-at-pit-stop-ufykpl2e3dtr08tq.jpg" alt="f1-teams pitstop" width="300px" height="200px" />
        </div>
        <div class="track">
            <h2>Race Track Data</h2>
            <img src="" alt="" />
        </div>
    </div>
    -->

    @RenderBody()


    
    <footer>
        <p>&copy; @DateTime.Now.Year - Formula 1, All rights reserved.</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
